In [2]:
# !pip install alpha_vantage

In [4]:
import pandas as pd
import yaml
from alpha_vantage.timeseries import TimeSeries
from datetime import date

In [6]:
with open("api_keys.yml", 'r') as f:
    d_api_keys = yaml.safe_load(f)

In [9]:
av_api_key = d_api_keys["alpha-vantage"]

In [10]:
ts = TimeSeries(key=av_api_key, output_format='pandas', indexing_type='date')

In [ ]:
ts.get_daily

In [13]:
data, meta_data = ts.get_daily(symbol='MSFT', outputsize='full')

In [24]:
meta_data

{'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'MSFT',
 '3. Last Refreshed': '2021-04-07',
 '4. Output Size': 'Full size',
 '5. Time Zone': 'US/Eastern'}

In [15]:
symbol="MSFT"

In [25]:
import joblib

In [28]:
d_save = {
    "data": data,
    "meta_data": meta_data
}
joblib.dump(d_save, f"data/{symbol}" + "-" + f"{str(date.today())}" + ".joblib")

['data/MSFT-2021-04-08.joblib']

In [14]:
data

            1. open  2. high    3. low  4. close   5. volume
date
2021-04-07   247.81   250.93  247.1900    249.90  22719835.0
2021-04-06   247.61   249.40  246.8800    247.86  22931923.0
2021-04-05   242.76   249.96  242.7000    249.07  36910609.0
2021-04-01   238.47   242.84  238.0501    242.35  30337982.0
2021-03-31   232.91   239.10  232.3900    235.77  43623471.0
...             ...      ...       ...       ...         ...
1999-11-05    91.81    92.87   90.5000     91.56  35083700.0
1999-11-04    92.31    92.75   90.3100     91.75  27119700.0
1999-11-03    92.94    93.50   91.5000     92.00  22258500.0
1999-11-02    92.75    94.50   91.9400     92.56  23174500.0
1999-11-01    93.25    94.19   92.1200     92.37  26630600.0

[5392 rows x 5 columns]